nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: aquamarine;
    height: 70px;
}

nav img {
    width: 50px;
}

nav ul {
    display: flex;
}

nav ul li {
    padding: 20px;
    margin: 0 5px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}